name: Build and Push Image (Podman)

on:
  push:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: mfnice/astrf   # 例如 fengmiao/my-nextjs

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Podman
        run: |
          sudo apt-get update
          sudo apt-get install -y podman

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | podman login ghcr.io \
            -u "${{ github.actor }}" \
            --password-stdin

      - name: Build Image
        run: |
          IMAGE_TAG=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          podman build -t $IMAGE_TAG -f Containerfile .
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Push Image (sha tag)
        run: |
          podman push $IMAGE_TAG

      - name: Tag and Push latest
        run: |
          LATEST=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          podman tag $IMAGE_TAG $LATEST
          podman push $LATEST